@import "default";
@import "mixins";
@import "component";
header{
    position: relative;
    z-index: 20 !important;
    // mix-blend-mode:color-dodge;
}
section{
    position: relative;
    .article_wrap{
        position: relative;
        article{
            // position: absolute;
            // top: 0px;
            // left: 0px;
            position: relative;
            z-index:10;
            font-size:30px;
            font-weight: 500;
            line-height:1.5;
            color: #0C26B4;
            font-family: "Roboto","Noto Sans TC","Cairo", "SF Pro TC", "SF Pro Text", "PingFang TC",  "Helvetica Neue", "Helvetica", "Arial", sans-serif;
            z-index:10 !important;
            
            // mix-blend-mode:difference;
            @include respond-to(px640){
                font-size:5vw;
            }
        }
        .scroll-img{
            position: absolute;
            top: 0px;
            right: 0px;
            width: 50vw;
            z-index:0;
            width:600px;
            transition: 0.2s;
            // mix-blend-mode:overlay;
            @include respond-to(ssm){
                width: 60vw;
            }
            @include respond-to(px640){
                top: 60%;
            }
    
        }
    
    }
    .scroll-img-b{
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 50vw;
        z-index:0;
        width:400px;
        transition: 0.2s;
        transition-timing-function: ease-out;
        // mix-blend-mode: overlay;
        @include respond-to(ssm){
            width: 40vw;
        }
        @include respond-to(px640){
            bottom: 5%;
        }

    }
    
}