@import "default";
@import "mixins";
@import "component";

.illus_detail{
    max-width: 960px;
    margin: auto;
    margin-bottom: 10px;
}

.video{
    video{
        width: 100%;
    }
}

.jin{
    .content{
        align-items: unset;
        justify-content: center;
    }
}


