@import "default";
@import "mixins";
@import "component";
// .title_pic_re_event{
//     background:url(../images/ribbon_lg.svg),linear-gradient(120deg, #0AD7F4 0%, #B690E9 45%, #FFD1AF 100%);
//     background-repeat:repeat-y;
//     background-attachment: fixed;
//     .cover{
//         max-width:1200px;
//         margin: auto;
//     }
// }

 /* ======================================================== */

 .button_container {
    position: relative;
    display: block;
    height:8px;
    width: 20px;
    cursor: pointer;
    z-index: 100;
    transition: opacity .25s ease;
    span {
        left: 50%;
        transform: translateX(-50%);
        background: #0C26B4;
        border: none;
        height:2px;
        width: 100%;
        position: absolute;
        transition: all .35s ease;
        cursor: pointer;
        transform-origin: center;
      }
  }
  .button_container:hover {
    opacity: .7;
  }
  .top{ 
    top: 0px;
  }
  .bottom{ 
    bottom: 0px;
  }
  .button_container.active-burger .top {
    top:50%;
    left:50%;
    transform-origin: center;
    -webkit-transform: translateY(-50%) translateX(-50%) rotate(45deg);
            transform: translateY(-50%) translateX(-50%) rotate(45deg);

    background: #fff !important;
  }
  .button_container.active-burger .bottom {
    left: 50%;
    top:50%;
    -webkit-transform: translateY(-50%) translateX(-50%) rotate(-45deg);
            transform: translateY(-50%) translateX(-50%) rotate(-45deg);
    margin-top:0px;
    background: #fff !important;
  }
  
  .burger-wrap{
    z-index: 1000;
  }
  
  .overlay {
    position: fixed;
    background:black;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    opacity: 0%;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
    color: #fff;
     .overlay-wrap{
        padding-left: 40px !important;
        padding-right: 40px !important;
        @include respond-to(px640){
            padding-left: 20px !important;
            padding-right: 20px !important;
        }
        h1{
            img{
                width:100px;
                @include respond-to(px480){
                    width:30vw;
                }
            }
        }
        ul{
            li{
                a{
                   color: #fff !important; 
                   font-size: 5vw;
                }
            }
        }

     }
  }
  .overlay.open {
    position: fixed;
    background:rgba(0, 0, 0, 1);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: visible;
    opacity: 1;
    height: 100%;
    z-index: 25;
  }
  
  @-webkit-keyframes fadeInRight {
    0% {
      opacity: 0;
      left: 20%;
    }
    100% {
      opacity: 1;
      left: 0;
    }
  }
  
  @keyframes fadeInRight {
    0% {
      opacity: 0;
      left: 20%;
    }
    100% {
      opacity: 1;
      left: 0;
    }
  }

 /* ======================================================== */
.intro{
        .pics{
            // margin-right:90px;
            position: relative;
            #ipad{
                @include respond-to(px768){
                    margin:auto;
                    margin-bottom: 20px;
                }

            }
        }
        .text{
            text-align: justify;
            @include respond-to(px640){
                padding-left:0px !important;
            }
        }
}

.about_game{
    .pj_intro{
        text-align: justify;
        display:block;
        display: none;
        @include respond-to(px768){
            display:block;
        }
        p{
           font-size:15px;
           font-family: 'Noto Sans TC', sans-serif;
           font-weight:500;
           margin-bottom: 10px;
           line-height:1.6;
        }
    }
    .content{
        .text{
            width: 100%;
            margin: auto;
            @include respond-to(px640){
                flex-direction:column-reverse;
            }
            .pj_intro{
                display:block;
                padding-right: 30px;
                @include respond-to(px768){
                    display:none;
                }
            }
            .get_chance{
                display: table;
                border-collapse:separate;
                border-spacing: 10px;
                padding: 0px;
                @include respond-to(px640){
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
        
                .get_chance_block{
                    border-radius: 5px;
                    padding: 20px 30px;
                    margin: 0px 5px;
                    width: 25%;
                    display: table-cell;
                    vertical-align: top;
                    @include respond-to(px768){
                        padding: 20px 10px;
                        text-align: center;
                    }
                    @include respond-to(px640){
                        width: 100%;
                    }
                }
                
                .get_chance_script{
                    width: 100%;
                    margin: 0px;
                    font-size:12px;
                    text-align:center;
                    @include respond-to(px600){
                        text-align:left;
                        margin-top: 10px;
                        text-align:center;
                    }
                }
                .get_chance_icon{
                    display:block;
                    text-align: center;
                    margin-bottom: 20px;
                    @include respond-to(px600){
                        display: inline-block;
                        vertical-align: middle;
                        margin-bottom: 0px;
                    }
                    img{
                        height: 50px;
                        @include respond-to(px600){
                            width: 40px;
                            vertical-align: middle;
                        }
                    }
                }
        
            }
            
        }
        .pics{
            margin: auto;
            overflow: hidden;
            .phone_mockup{
                margin: auto;
                max-width:260px;
                z-index: 10;
                @include respond-to(px768){
                    margin-bottom:-83px;
                    width:100%;
                }
            }

        }

    }
}

.start_game{
    .container{
        // padding-top:90px;
        // padding-bottom:90px;
        @include respond-to(px600){
            padding-top:30px;
            padding-bottom:30px;
        }
    }
    .content{
        flex-direction:row-reverse;
        align-items: center;
        .text{
            @include respond-to(px768){
                padding-left:30px !important;
            }
            @include respond-to(px640){
                padding-left:0px !important;
            }
        }
        .pics{
            video{
                margin: auto;
                margin-left:0px;
                max-width:260px;
                @include respond-to(px992){
                    margin: auto;
                }
            }
            @include respond-to(px768){
                justify-content: center;
            }
            @include respond-to(px600){
                margin-bottom: 30px;
            }

        }

    }
}

.start_game_prize{
    background-color: #eee;
    .container{
        // padding-top:90px;
        padding-bottom: 0px;
    }
    .content{
        align-items: center;
        @include respond-to(px600){
            display:block;
        }
        .text{
            padding-right: 60px;
            @include respond-to(px768){
                padding-right:30px;
            }
            @include respond-to(px600){
                padding-right:0px;
            }
            p{
                @include respond-to(px600){
                    margin-bottom: 30px;
                }
            }
        }
        .pics{
            height:420px;
            video{
                margin-right:0px;
                max-width:260px;
            }
            @include respond-to(px768){
                justify-content: center;
            }
        }

    }
}
.log_in_mission{
    .content{
        display: flex;
        flex-direction:row-reverse;
        align-items: center;
        @include respond-to(px600){
            display:block;
        }
        .text{
            @include respond-to(px768){
                padding-left:30px !important;
            }
            @include respond-to(px640){
                padding-left:0px !important;
            }
        }
        .pics{
            display: flex;
            video{
                margin: auto;
                margin-left:0px;
                width:260px;
                @include respond-to(px768){
                    margin: auto;
                }
            }
            @include respond-to(px768){
                justify-content: center;
            }
            @include respond-to(px600){
                margin-bottom: 30px;
            }

        }

    }
}


.landing_page{
    background-color: #eee;
    overflow: hidden;
    .pics{
        .page{
                position: relative;
                margin-top:30px;
                padding-top: 20px;
                padding-bottom: 90px;
                @include respond-to(px600){
                    padding-top:calc(20px*0.7);
                }
                @include respond-to(ss){
                    padding-top:calc(20px*0.5);
                }
            .screen{
                overflow-y: scroll;
                height:350px;
                width:92%;
                margin: auto;
                img{
                    width: 100%;
                    margin: auto;
                }
                
            }
            .screen::-webkit-scrollbar-track {
                padding:0px;
                visibility: hidden;
                background-color: rgba(0,0,0,0);
            }
            
            .screen::-webkit-scrollbar {
                width:2px;
                visibility: hidden;
                background-color: rgba(0,0,0,0);
            }
            
            .screen::-webkit-scrollbar-thumb {
                border-radius: 10px;
                background-color: #333;
            }
            .macbook{
                position:absolute;
                width:120%;
                z-index: 20;
                top:0px;
                left: 50%;
                transform:translateX(-50%);
                pointer-events:none;
                img{
                    width: 100%;
                }
            }
        }
    }
    
}
